@font-face {
    font-family: 'Bitter';
    src: url('./assets/fonts/Bitter-.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neulis_Cursive_Bold';
    src: url('./assets/fonts/Neulis_Cursive_Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-black-color: #000000;
    --background-black-shadow-color: #00000029;
    --fonts-white-color: #ffffff;
    --participate-dark-red-line-color: #67031C;
    --sponsor-dark-red-color: #96082B;
}

.w-80 {
    width: 80% !important;
}

button.transparent-button {
    background: transparent;
    border: 0;
}

/* prizes */
div.prizes .small-screens {
    display: none;
}
div.prizes .large-screens {
    display: flex;
}
div.prizes {
    height: 924px;
    background: transparent url('assets/background-images/prices/prices_bg_large.gif') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.prizes>.heading {
    text-align: center;
    font: normal normal bold 48px/63px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 50px;
}
div.prizes .prize-content {
    width: 90%;
    height: 397px;
    background: rgb(0, 0, 0, 0.5) 0% 0% no-repeat padding-box;
}
div.prizes .opportunities {
    width: 90%;
    height: 202px;
    background: rgb(0, 0, 0, 0.5) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
div.prizes .opportunities .heading-row {
    text-align: left;
    font: normal normal bold 27px/35px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 35px !important;
}
div.prizes .opportunities .content-row { 
    text-align: center;
    font: normal normal normal 20px/32px Bitter;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
div.prizes .prize-content .heading-row {
    margin-top: 30px !important;
    margin-bottom: 40px !important;
}
div.prizes .prize-content .icons-row {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}
div.prizes .prize-content .heading {
    text-align: center;
    font: normal normal bold 32px/42px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
div.prizes .prize-content .price-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}
div.prizes .prize-content .price-card .content {
    text-align: center;
    font: normal normal normal 26px/37px Bitter;
    letter-spacing: 0px;
    color: #FFFFFF;
}
div.prizes .prize-content .price-card .content span {
    text-align: center;
    font: normal normal normal 26px/37px Bitter;
    letter-spacing: 0px;
    color: #D6973B;
}
div.prizes .prize-content .price-card .icon.one {
    width: 130px;
    height: 110px;
    background: transparent url('assets/icons/prize-1/Union\ 1.png') 0% 0% no-repeat padding-box;
    border: 1px solid #00000000;
    opacity: 1;
}
div.prizes .prize-content .price-card .icon.two {
    width: 130px;
    height: 93px;
    background: transparent url('assets/icons/prize-2/Union\ 2.png') 0% 0% no-repeat padding-box;
    border: 1px solid #00000000;
    opacity: 1;
}
div.prizes .prize-content .price-card .icon.three {
    width: 120px;
    height: 120px;
    background: transparent url('assets/icons/prize-3/Union\ 3.png') 0% 0% no-repeat padding-box;
    border: 1px solid #00000000;
    opacity: 1;
}

/* participate */
div.participate {
    height: 907px;
    background: transparent url('assets/background-images/participate/AdobeStock_884837217.jpg') 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
}
div.participate .large-screens {
    display: block;
}
div.participate .small-screens {
    display: none;
}
div.participate .heading {
    text-align: center;
    font: normal normal bold 48px/63px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    color: var(--background-black-color);
    opacity: 1;
    margin-bottom: 60px;
    z-index: 1;
}
div.participate .steps {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
div.participate .steps .row {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}
div.participate .steps .center-red-line {
    width: 80%;
    height: 72px;
    background: var(--participate-dark-red-line-color) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    z-index: 0;
    left: 0;
}
div.participate .step-card {
    width: 376px;
    aspect-ratio: 188 / 201;
    background: var(--fonts-white-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 40px 60px var(--background-black-shadow-color);
    opacity: 1;
}
div.participate .step-card>div.row {
    align-items: center;
    height: 100%;
}
div.participate .step-card>div.row .icon-col{
    padding-left: 0px;
    padding-right: 30px;
}
div.participate .step-card>div.row .content-col div{
    margin-bottom: 30px;
}
div.participate .step-card .arrow {
    background: transparent url('assets/icons/right-arrow/Path\ 1264.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 76px;
    height: 153px;
}
div.participate .step-card.step-1 .step-icon {
    background: transparent url('assets/icons/step-1/Layer\ 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100px;
    height: 96px;
}
div.participate .step-card.step-2 .step-icon {
    background: transparent url('assets/icons/step-2/Group\ 901.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100px;
    height: 99px;
}
div.participate .step-card.step-3 .step-icon {
    background: transparent url('assets/icons/step-3/Group\ 902.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100px;
    height: 88px;
}
div.participate .step-card .step-count {
    text-align: left;
    font: normal normal bold 32px/30px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    color: var(--background-black-color);
    opacity: 1;
}
div.participate .step-card .step-desc {
    text-align: left;
    font: normal normal normal 26px/30px Bitter;
    letter-spacing: 0px;
    color: var(--background-black-color);
    opacity: 1;
}
div.participate .buttons {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
div.participate .buttons .enroll-designer button {
    width: 266px;
    height: 66px;
    background: transparent linear-gradient(72deg, #97082C 0%, #790319 17%, #D90743 26%, #5E0008 37%, #CC0D44 59%, #87031E 73%, #D01047 88%, #96072A 100%) 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    margin-right: 15px;
}
div.participate .buttons .enroll-designer button span {
    text-align: center;
    font: normal normal normal 21px/26px Bitter;
    letter-spacing: 0px;
    color: var(--fonts-white-color);
    opacity: 1;
    vertical-align: middle;
}
div.participate .buttons .enroll-model button {
    width: 266px;
    height: 66px;
    background: transparent linear-gradient(74deg, #C8A760 0%, #AC6413 13%, #FDE5A7 23%, #BE7619 38%, #D99B3F 47%, #B86D15 64%, #EBA23F 77%, #BD7518 100%) 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    margin-left: 15px;
}
div.participate .buttons .enroll-model button span {
    text-align: center;
    font: normal normal normal 21px/26px Bitter;
    letter-spacing: 0px;
    color: var(--background-black-color);
    opacity: 1;
    vertical-align: middle;
}

/* registrations open */
div.registrations-open {
    height: 919px;
    background: var(--background-black-color) 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.registrations-open .heading {
    text-align: center;
    font: normal normal bold 48px/63px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    color: var(--fonts-white-color);
    padding-bottom: 50px;
}
div.registrations-open .states-grid .large-screens {
    display: none;
}
div.registrations-open .states-grid .state {
    margin: 0px 10px;
}
div.registrations-open .states-grid .row {
    justify-content: space-evenly;
}
div.registrations-open .states-grid,
div.registrations-open .register-now,
div.registrations-open .limited-slots,
div.registrations-open .counts {
    padding-bottom: 30px;
}
div.registrations-open .states-grid .image-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.registrations-open .states-grid .image-body .text {
    text-align: center;
    font: normal normal normal 20px/27px Bitter;
    letter-spacing: 0px;
    color: var(--fonts-white-color);
    opacity: 1;
}
div.registrations-open .register-now .register-now-btn {
    background: transparent linear-gradient(69deg, #97082C 0%, #790319 17%, #D90743 26%, #5E0008 37%, #CC0D44 59%, #87031E 73%, #D01047 88%, #96072A 100%) 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    height: 66px;
    width: 214px;
}
div.registrations-open .register-now .register-now-text {
    text-align: center;
    font: normal normal normal 21px/26px Bitter;
    letter-spacing: 0px;
    color: var(--fonts-white-color);
    opacity: 1;
}
div.registrations-open .limited-slots {
    text-align: center;
    font: normal normal bold 32px/42px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    color: var(--fonts-white-color);
    opacity: 1;
}
div.registrations-open .counts .model-count, 
div.registrations-open .counts .designer-count{
    margin-right: 25px;
}
div.registrations-open .counts .model-count, 
div.registrations-open .counts .designer-count {
    text-align: center;
    font: normal normal bold 98px/128px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    opacity: 1;
    color: transparent;
    -webkit-text-stroke: 1px var(--fonts-white-color);
    text-shadow: none;
}
div.registrations-open .counts {
    display: flex;
    justify-content: center;
}
div.registrations-open .counts .text {
    color: var(--fonts-white-color);
    text-align: center;
    font: normal normal normal 26px/128px Bitter;
    letter-spacing: 0px;
    opacity: 1;
}
div.registrations-open .terms-link button {
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 20px/30px Bitter;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
div.registrations-open .states-grid .image-body .image {
    margin-bottom: 20px;
    opacity: 1;
    width: 130px;
    height: 130px;
}
div.registrations-open .states-grid .image-body.sikkim .image {
    background: transparent url('assets/states/sikkim/sikkim.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}
div.registrations-open .states-grid .image-body.assam .image {
    background: transparent url('assets/states/assam/Kamakhya_Temple\,_Guwahati.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}
div.registrations-open .states-grid .image-body.manipur .image {
    background: transparent url('assets/states/manipur/Kamakhya_Temple\,_Guwahati.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}
div.registrations-open .states-grid .image-body.mizoram .image {
    background: transparent url('assets/states/mizoram/Kamakhya_Temple\,_Guwahati.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}
div.registrations-open .states-grid .image-body.arunachal .image {
    background: transparent url('assets/states/arunachal/Kamakhya_Temple\,_Guwahati.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}
div.registrations-open .states-grid .image-body.meghalaya .image {
    background: transparent url('assets/states/meghalaya/Kamakhya_Temple\,_Guwahati.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}
div.registrations-open .states-grid .image-body.tripura .image {
    background: transparent url('assets/states/tripura/Kamakhya_Temple\,_Guwahati.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}
div.registrations-open .states-grid .image-body.nagaland .image {
    background: transparent url('assets/states/nagaland/Kamakhya_Temple\,_Guwahati.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}
div.registrations-open .counts .row>div {
    padding: 0px 50px;
    display: flex;
}

/* Sponsorship styles */
div.sponsors {
    height: 193px;
    background: var(--sponsor-dark-red-color) 0% 0% no-repeat padding-box;
    color: var(--fonts-white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.sponsors a,
footer .contact-details .email .content>a,
footer .contact-details .phone .content>a{
    color: var(--fonts-white-color);
    text-decoration: none;
}
div.sponsors .heading {
    font: normal normal bold 32px/30px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    margin-bottom: 20px;
}
div.sponsors .sub-heading.small-screens {
    display: none;
}
div.sponsors .sub-heading.large-screens {
    display: block;
}
div.sponsors .sub-heading>a {
    font: normal normal bold 28px/36px Neulis_Cursive_Bold;
    letter-spacing: 0px;
}
div.sponsors .sub-heading {
    font: normal normal normal 28px/36px Bitter;
    letter-spacing: 0px;
}

/* FAQs styles */
div.faqs {
    height: 700px;
    font-family: 'Neulis_Cursive_Bold', sans-serif;
    background: transparent url('assets/background-images/golden-faqs/Group_233.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;
    filter: drop-shadow(2px 4px 6px);
}
div.faqs .faqs-container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
div.faqs .heading {
    color: var(--fonts-white-color);
    text-align: center;
    font: normal normal bold 48px/63px Neulis_Cursive_Bold;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 50px;
}
div.faqs .questions-grid {
    justify-content: center;
    width: 100%;
}
div.faqs .questions-grid .question{
    border-bottom: 1px solid var(--fonts-white-color);
    padding-bottom: 20px;
    margin: 20px;
}
div.faqs .questions-grid .question .question-text,
div.faqs .questions-grid .count {
    color: var(--fonts-white-color);
    font: normal normal bold 28px/30px Neulis_Cursive_Bold;
    letter-spacing: 0px;
}
div.faqs .questions-grid .question .answer-text {
    color: var(--fonts-white-color);
    font: normal normal normal 20px/30px Bitter;
    letter-spacing: 0px;
    overflow-wrap: break-word;
}
div.faqs .answer-icon {
    width: 45px;
    height: 45px;
    border: 1px solid var(--fonts-white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    float: right;
    cursor: pointer;
}
div.faqs .answer-icon .icon {
    width: 20px;
    opacity: 1;
    background: none;
}
div.faqs .answer-icon.open .icon {
    background: transparent url('assets/icons/plus/Group_229.png') 0% 0% no-repeat padding-box;
    height: 20px;
}
div.faqs .answer-icon.close {
    border: 0px;
    background: var(--fonts-white-color) 0% 0% no-repeat padding-box;
}
div.faqs .answer-icon.close .icon {
    background: transparent url('assets/icons/minus/Line_38.png') 0% 0% no-repeat padding-box;
    height: 2px;
}

/* footer styles */
footer {
    font: normal normal light 16px / 25px 'Bitter';
    background-color: var(--background-black-color);
    color: var(--fonts-white-color);
    height: 315px;
    padding: 47px 90px 107px 90px;
}
footer .icon {
    margin-right: 8px;
    opacity: 1;
}
footer .address .icon {
    width: 18px;
    height: 24px;
    background: transparent url('assets/icons/address/Group_906.png') 0% 0% no-repeat padding-box;
}
footer .email {
    justify-content: center;
}
footer .email .icon {
    width: 24px;
    height: 17px;
    background: transparent url('assets/icons/email/Path_1320.png') 0% 0% no-repeat padding-box;
}
footer .phone {
    justify-content: end;
}
footer .phone .icon {
    width: 24px;
    height: 24px;
    background: transparent url('assets/icons/phone/Path_1321.png') 0% 0% no-repeat padding-box;
}
footer .divider {
    margin-top: 42.5px;
    margin-bottom: 42.5px;
    border: 1px solid var(--fonts-white-color);
    opacity: 1;
}
footer .social-media-icons .icons span {
    width: 30px;
    height: 30px;
    opacity: 1;
    margin-right: 12px;
}
footer .social-media-icons .icons button .facebook {
    background: transparent url('assets/icons/facebook/Group_189.png') 0% 0% no-repeat padding-box;
    display: block;
}
footer .social-media-icons .icons button .instagram {
    background: transparent url('assets/icons/instagram/Group_188.png') 0% 0% no-repeat padding-box;
    display: block;
}
footer .social-media-icons .icons button .twitter {
    background: transparent url('assets/icons/twitter/Group_187.png') 0% 0% no-repeat padding-box;
    display: block;
}
footer .social-media-icons .icons button .youtube {
    background: transparent url('assets/icons/youtube/Group_5705.png') 0% 0% no-repeat padding-box;
    display: block;
}
footer .social-media-icons .copyright {
    justify-content: end;
}

@media (max-width: 1200px) {
    /* participate responsive */
    div.participate .step-card {
        width: 330px;
    }
    div.participate .steps {
        width: 90%;
    }

    /* registrations open responsive */
    div.registrations-open .heading {
        font: normal normal bold 28px/36px Neulis_Cursive_Bold;
    }
    div.registrations-open {
        height: 1280px;
    }
    div.registrations-open .states-grid .large-screens {
        display: block;
    }
    div.registrations-open .states-grid .state {
        margin-bottom: 60px;
    }
    div.registrations-open .states-grid .image-body .image {
        margin-bottom: 0px;
        opacity: 1;
        width: 100px;
        height: 100px;
        background-size: cover;
    }
    div.registrations-open .states-grid .image-body .text {
        font: normal normal normal 16px/37px Bitter;
    }
    div.registrations-open .register-now .register-now-btn {
        height: 53px;
    }
    div.registrations-open .register-now .register-now-text {
        font: normal normal normal 16px/20px Bitter;
    }
    div.registrations-open .limited-slots {
        font: normal normal bold 22px/30px Neulis_Cursive_Bold;
    }
    div.registrations-open .counts .model-count, 
    div.registrations-open .counts .designer-count {
        font: normal normal bold 68px/89px Neulis_Cursive_Bold; 
    }
    div.registrations-open .counts .text {
        font: normal normal normal 20px/89px Bitter;
    }
    div.registrations-open .terms-link button {
        font: normal normal normal 16px/30px Bitter;
    }
}

@media (max-width: 992px) {
    /* prizes responsive */
    div.prizes .small-screens {
        display: block;
        padding: 40px 0px;
    }
    div.prizes .large-screens {
        display: none;
    }
    div.prizes {
        height: 1386px;
    }
    div.prizes .prize-content {
        height: 789px;
    }
    div.prizes .opportunities {
        height: 328px;
    }
    div.prizes>.heading {
        font: normal normal bold 28px/36px Neulis_Cursive_Bold;
    }
    div.prizes .opportunities .heading-row,
    div.prizes>.heading {
        font: normal normal bold 22px/28px Neulis_Cursive_Bold;
    }
    div.prizes .prize-content .price-card .content {
        font: normal normal normal 20px/30px Bitter;
    }
    div.prizes .prize-content .price-card .content span {
        font: normal normal normal 20px/30px Bitter;
    }
    div.prizes .opportunities .content-row {
        font: normal normal normal 16px/32px Bitter;
    }
    
    div.prizes .prize-content .price-card .icon.one {
        width: 100px;
        height: 84.74px;
        background-size: cover;
    }
    div.prizes .prize-content .price-card .icon.one {
        width: 100px;
        height: 84.74px;
        background-size: cover;
    }
    div.prizes .prize-content .price-card .icon.one {
        width: 105px;
        height: 90px;
        background-size: cover;
    }

    /* participate responsive */
    div.participate {
        height: 1555px;
    }
    div.participate .heading {
        font: normal normal bold 28px/36px Neulis_Cursive_Bold;
    }
    div.participate .step-card .arrow {
        width: 50px;
        height: 100px;
        background: transparent url('assets/icons/down-arrow/Path\ 1331.png') 0% 0% no-repeat padding-box;
        transform: rotate(135deg);
        position: relative;
        top: -68px;
        left: -18px;
    }
    div.participate .step-card.step-1 .step-icon {
        width: 80px;
        height: 76.85px;
        background-size: cover;
    }
    div.participate .step-card.step-2 .step-icon {
        width: 80px;
        height: 79.13px;
        background-size: cover;
    }
    div.participate .step-card.step-3 .step-icon {
        width: 80px;
        height: 70.4px;
        background-size: cover;
    }
    div.participate .step-card .step-count {
        font: normal normal bold 22px/30px Neulis_Cursive_Bold;
    }
    div.participate .step-card .step-desc {
        font: normal normal normal 20px/25px Bitter;
    }
    div.participate .step-card {
        width: 335px;
        height: 322px;
        aspect-ratio: unset;
    }
    div.participate .steps {
        width: 100%;
    }
    div.participate .buttons {
        flex-direction: column;
    }
    div.participate .buttons .enroll-designer button {
        margin-right: 0px;
    }
    div.participate .buttons .enroll-model button {
        margin-top: 15px;
        margin-left: 0px;
    }
    div.participate .buttons .enroll-designer button,
    div.participate .buttons .enroll-model button {
        width: 212px;
        height: 53px;
    }
    div.participate .buttons .enroll-designer button span,
    div.participate .buttons .enroll-model button span {
        font: normal normal normal 16px/20px Bitter;
    }
    .step-card-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    div.participate .steps .center-red-line {
        transform: rotate(90deg);
        /* translate: 50% 50%; */
        width: 750px;
        height: 65px;
        background: var(--participate-dark-red-line-color) 0% 0% no-repeat padding-box;
        opacity: 1;
        position: absolute;
        z-index: 0;
        /* left: -5.777777%; */
        /* top: 37%; */
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        right: 50%;
        top: 40%
    }
    div.participate .large-screens {
        display: none;
    }
    div.participate .small-screens {
        display: block;
    }
    div.participate .step-card .step-count {
        text-align: center;
    }
    div.participate .step-card .step-desc {
        text-align: center;
    }
    div.participate .step-card>div.row .content-col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.participate .step-card>div.row .icon-col.small-screens {
        padding-right: 0px;
        display: flex;
        justify-content: center;
    }



    div.registrations-open .counts .row>div {
        display: block;
    }
    div.registrations-open .counts .model-count, 
    div.registrations-open .counts .designer-count {
        font: normal normal bold 68px/89px Neulis_Cursive_Bold; 
        margin-right: 0px;
    }
    div.registrations-open .counts .text {
        font: normal normal normal 20px/37px Bitter;
    }
}

@media (max-width: 768px) {
    /* sponsorship responsive */
    div.sponsors {
        height: 320px;
    }
    div.sponsors .sub-heading.large-screens {
        display: none;
    }
    div.sponsors .sub-heading.small-screens {
        display: block;
    }
    div.sponsors .heading {
        font: normal normal bold 28px/30px Neulis_Cursive_Bold;
        margin-bottom: 40px;
    }
    div.sponsors .sub-heading>a {
        font: normal normal bold 20px/26px Neulis_Cursive_Bold;
    }
    div.sponsors .sub-heading {
        font: normal normal normal 20px/26px Bitter;
    }

    /* FAQs responsive */
    div.faqs .heading {
        font: normal normal bold 28px/36px Neulis_Cursive_Bold;
    }
    div.faqs .questions-grid .count {
        font: normal normal bold 20px/25px Neulis_Cursive_Bold;
    }
    div.faqs .questions-grid .question .answer-text {
        font: normal normal normal 16px/24px Bitter;
    }

    /* footer responsive */
    footer {
        height: 419px;
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }
    footer .contact-details>div {
        padding-bottom: 20px;
    }
    footer .divider {
        margin-top: 10px;
        margin-bottom: 30px;
        border: 1px solid var(--fonts-white-color);
        opacity: 1;
    }
    footer .email,
    footer .phone {
        justify-content: start;
    }
    footer .social-media-icons .icons {
        margin-bottom: 30px;
    }
    footer .social-media-icons .icons,
    footer .social-media-icons .copyright {
        justify-content: center;
        text-align: center;
    }
}